body{
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: fantasy;
    font-weight:300;
}

#apps{
    background-color: lightcoral;
}

#game{
    background-color: lightskyblue;
}

#chatbot{
    background-color:lightslategray;
}

.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin:8px auto;
}